<?xml version="1.0" encoding="utf-8"?>
<Content Key="528bfffc-c02b-41e1-a899-a899524f0e77" Alias="Content page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-20T14:07:48</CreateDate>
    <NodeName Default="Content page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Content page]]></Value>
    </title>
  </Properties>
</Content>