<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbfa0f79-85ac-44fb-9b80-babcde399095" Alias="Content page (different icon)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentPageDifferentIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-19T19:52:22</CreateDate>
    <NodeName Default="Content page (different icon)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[oh yes.]]></Value>
    </title>
  </Properties>
</Content>