<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2dcdd4b-d4c4-45dc-89e3-e42bfc2b7936" Alias="Deeper underground" Level="4">
  <Info>
    <Parent Key="2b92ac6f-6782-4eba-83c2-8679acb903eb">Father and son</Parent>
    <Path>/HomeAlone/SweetChildOfMine/FatherAndSon/DeeperUnderground</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-18T12:25:33</CreateDate>
    <NodeName Default="Deeper underground" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Deeper underground]]></Value>
    </title>
  </Properties>
</Content>