<?xml version="1.0" encoding="utf-8"?>
<Content Key="e489d046-822a-4667-8f77-a162d9e5028a" Alias="Home Alone" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeAlone</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-17T08:59:47</CreateDate>
    <NodeName Default="Home Alone" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>