<?xml version="1.0" encoding="utf-8"?>
<Content Key="79134cf7-1597-4d9a-bb05-5909ea430bb2" Alias="Nested (two levels deep)" Level="3">
  <Info>
    <Parent Key="11f5717f-926a-46ee-9245-46e4ef44b878">Nested (one level deep)</Parent>
    <Path>/TestHomepage/NestedOneLevelDeep/NestedTwoLevelsDeep</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-05-20T14:08:26</CreateDate>
    <NodeName Default="Nested (two levels deep)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Text]]></Value>
    </title>
  </Properties>
</Content>