<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f332084-bcb2-4b10-a8af-e764d143be07" Alias="Seven" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Seven</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-19T10:33:55</CreateDate>
    <NodeName Default="Seven" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Seven]]></Value>
    </title>
  </Properties>
</Content>