<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2fae5bf-7ac7-4300-9565-03a0cab5805b" Alias="Test homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-04-14T09:49:15</CreateDate>
    <NodeName Default="Test homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Homepage testing]]></Value>
    </title>
  </Properties>
</Content>