<?xml version="1.0" encoding="utf-8"?>
<Content Key="96ac22f1-843b-4f00-9fd7-a45445cbcfbe" Alias="Another page" Level="2">
  <Info>
    <Parent Key="c2fae5bf-7ac7-4300-9565-03a0cab5805b">Test homepage</Parent>
    <Path>/TestHomepage/AnotherPage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-05-20T14:08:37</CreateDate>
    <NodeName Default="Another page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Just for the sake of it]]></Value>
    </title>
  </Properties>
</Content>