<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d54afff-45f9-4a72-bb5b-4d6e577b81e4" Alias="Another test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnotherTest</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-04-20T17:43:58</CreateDate>
    <NodeName Default="Another test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Content]]></Value>
    </title>
  </Properties>
</Content>