<?xml version="1.0" encoding="utf-8"?>
<Content Key="85b5fa0f-08e7-433f-859c-c7c2548f6c30" Alias="Content page (nested one)" Level="2">
  <Info>
    <Parent Key="3c3de564-1d46-4ce1-947d-c6d6be205a5f">Homepage</Parent>
    <Path>/Homepage/ContentPageNestedOne</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-10-07T11:35:08</CreateDate>
    <NodeName Default="Content page (nested one)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Content page (nested one)]]></Value>
    </title>
  </Properties>
</Content>