<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ce3492b-6623-477a-af68-f29118d2043e" Alias="Content page (nested two)" Level="3">
  <Info>
    <Parent Key="85b5fa0f-08e7-433f-859c-c7c2548f6c30">Content page (nested one)</Parent>
    <Path>/Homepage/ContentPageNestedOne/ContentPageNestedTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-10-07T11:36:24</CreateDate>
    <NodeName Default="Content page (nested two)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Content page (nested two)]]></Value>
    </title>
  </Properties>
</Content>