<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b92ac6f-6782-4eba-83c2-8679acb903eb" Alias="Father and son" Level="3">
  <Info>
    <Parent Key="27d6648e-6df6-4292-8855-a946f6a41244">Sweet child of mine</Parent>
    <Path>/HomeAlone/SweetChildOfMine/FatherAndSon</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-18T12:25:33</CreateDate>
    <NodeName Default="Father and son" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Cat Stevens]]></Value>
    </title>
  </Properties>
</Content>