<?xml version="1.0" encoding="utf-8"?>
<Content Key="b69d1bbe-ece1-4d5a-bc69-c32f0a56f70f" Alias="Five" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Five</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-19T10:33:35</CreateDate>
    <NodeName Default="Five" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[five]]></Value>
    </title>
  </Properties>
</Content>