<?xml version="1.0" encoding="utf-8"?>
<Content Key="56b5fbed-4bcf-4d1e-b9c4-49a87e6c10c7" Alias="Homeward Bound" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomewardBound</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-17T16:02:10</CreateDate>
    <NodeName Default="Homeward Bound" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>