<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c3de564-1d46-4ce1-947d-c6d6be205a5f" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-10-07T11:34:29</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>