<?xml version="1.0" encoding="utf-8"?>
<Content Key="11f5717f-926a-46ee-9245-46e4ef44b878" Alias="Nested (one level deep)" Level="2">
  <Info>
    <Parent Key="c2fae5bf-7ac7-4300-9565-03a0cab5805b">Test homepage</Parent>
    <Path>/TestHomepage/NestedOneLevelDeep</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2026-05-20T14:08:13</CreateDate>
    <NodeName Default="Nested (one level deep)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Text]]></Value>
    </title>
  </Properties>
</Content>