<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9279f93-e80c-44cf-b4fa-909ed69c8d7f" Alias="Six" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Six</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-19T10:33:45</CreateDate>
    <NodeName Default="Six" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Six]]></Value>
    </title>
  </Properties>
</Content>