<?xml version="1.0" encoding="utf-8"?>
<Content Key="27d6648e-6df6-4292-8855-a946f6a41244" Alias="Child Home" Level="2">
  <Info>
    <Parent Key="e489d046-822a-4667-8f77-a162d9e5028a">Home</Parent>
    <Path>/Home/ChildHome</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-17T13:52:48</CreateDate>
    <NodeName Default="Child Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is the children of the house]]></Value>
    </title>
  </Properties>
</Content>