<?xml version="1.0" encoding="utf-8"?>
<Content Key="de847b58-f6c8-49e4-ba69-7f5085f928f8" Alias="Home 2 - Electric Boogaloo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home2ElectricBoogaloo</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-17T13:31:27</CreateDate>
    <NodeName Default="Home 2 - Electric Boogaloo" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Home 2 - Electric Boogaloo]]></Value>
    </title>
  </Properties>
</Content>