<?xml version="1.0" encoding="utf-8"?>
<Content Key="becc02fc-33c8-4a1a-a6ca-7e9bfcb072d5" Alias="Sweet home alabama" Level="2">
  <Info>
    <Parent Key="56b5fbed-4bcf-4d1e-b9c4-49a87e6c10c7">Homeward Bound</Parent>
    <Path>/HomewardBound/SweetHomeAlabama</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-17T16:02:25</CreateDate>
    <NodeName Default="Sweet home alabama" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Sweet child of mine]]></Value>
    </title>
  </Properties>
</Content>