<?xml version="1.0" encoding="utf-8"?>
<Content Key="becc02fc-33c8-4a1a-a6ca-7e9bfcb072d5" Alias="Sweet home alabama" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SweetHomeAlabama</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-17T16:02:25</CreateDate>
    <NodeName Default="Sweet home alabama" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Sweet home alabama]]></Value>
    </title>
  </Properties>
</Content>