<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ca3867a-3baa-4417-be52-00d4945bf1c0" Alias="Four" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Four</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-03-19T10:28:36</CreateDate>
    <NodeName Default="Four" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[four]]></Value>
    </title>
  </Properties>
</Content>